<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Herramientas</li>
    <li class="breadcrumb-item">
      <a routerLink="/admin/herramientas/avisos">Avisos</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ currentBreadcrumb }}
    </li>
  </ol>
</nav>

<nz-card>
  <form class="forms-sample" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6">
        <!-- Titulo del aviso -->
        <div class="mb-3">
          <label class="form-label"><strong>Titulo del aviso</strong></label>

          <div class="mb-3">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                placeholder="Titulo del aviso"
                formControlName="titulo"
              />
            </div>

            <div
              class="alert alert-danger p-2"
              *ngIf="
                form.get('titulo')?.touched &&
                form.get('titulo')?.errors?.required
              "
            >
              El Titulo del aviso es requerido
            </div>
          </div>
        </div>
        <!-- Descripcion -->
        <div class="mb-3">
          <label class="form-label"><strong>Descripcion</strong></label>

          <div class="mb-3">
            <div class="input-group">
              <textarea
                type="text"
                class="form-control"
                autocomplete="off"
                placeholder="Descripcion"
                formControlName="descripcion"
              ></textarea>
            </div>

            <div
              class="alert alert-danger p-2"
              *ngIf="
                form.get('descripcion')?.touched &&
                form.get('descripcion')?.errors?.required
              "
            >
              La descripcion es requerida
            </div>
          </div>
        </div>

        <!-- Mostrar a -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            ><strong>Mostrar a</strong></label
          >
          <div class="mb-3">
            <ng-select
              [items]="roles"
              [searchable]="false"
              [clearable]="false"
              formControlName="mostrarA"
              bindValue="id"
              bindLabel="nombre"
            >
            </ng-select>

            <div
              class="alert alert-danger p-2"
              *ngIf="
                form.get('role')?.touched && form.get('role')?.errors?.required
              "
            >
              Seleccione un role
            </div>
          </div>

          <div class="mb-3" *ngIf="mostrarListaUsuarios">
            <label for="exampleInputEmail1" class="form-label"
              ><strong
                >Seleccione los usuarios a los que se les mostrará la
                alerta</strong
              ></label
            >
            <!-- Tabla de Usuarios -->
            <nz-table
              #rowSelectionTable
              nzShowSizeChanger
              [nzData]="listOfUsers"
              (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            >
              <thead>
                <tr>
                  <th
                    [(nzChecked)]="checked"
                    [nzIndeterminate]="indeterminate"
                    (nzCheckedChange)="onAllChecked($event)"
                  ></th>
                  <th>Nombre</th>
                  <th>Rol</th>
                  <th>Grupo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of rowSelectionTable.data">
                  <td
                    [nzChecked]="setOfCheckedUsersId.has(data.id)"
                    (nzCheckedChange)="onUserChecked(data.id, $event)"
                  ></td>
                  <td>{{ data.name }}</td>
                  <td>{{ data.role }}</td>
                  <td>{{ data.grupo?.nombre }}</td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>

    <div class="floating-buttons mt-3">
      <button
        *ngIf="avisoId != null && isDisabled"
        type="button"
        class="btn btn-info me-2"
        (click)="onActivar()"
      >
        Activar
      </button>
      <button
        *ngIf="avisoId != null && !isDisabled"
        type="button"
        class="btn btn-danger me-2"
        (click)="onDesactivar()"
      >
        Desactivar
      </button>

      <button
        type="submit"
        class="btn btn-primary me-2"
        [disabled]="form.invalid"
      >
        Guardar cambios
      </button>
    </div>
  </form>
</nz-card>
