<div class="d-flex flex-row bd-highlight">
  <div class="p-2 bd-highlight flex-grow-1">
    <label class="form-label"
      ><strong>Capture los tipos de mesas para el evento</strong></label
    >
  </div>

  <div class="p-2 bd-highlight">
    <button
      type="button"
      class="btn btn-primary btn-xs mt-1"
      (click)="openLoadImageModal(fileChoseModal)"
    >
      Mapa de mesas
    </button>
  </div>
  <div class="p-2 bd-highlight">
    <button
      type="button"
      class="btn btn-success btn-xs mt-1"
      *ngIf="allowEdit"
      (click)="clearFormTipoMesaData(); openBasicModal(basicModal)"
    >
      Agregar
    </button>
  </div>
</div>

<nz-table
  #editRowTableMesas
  nzBordered
  [nzData]="listOfDataGrid"
  nzTableLayout="fixed"
>
  <thead>
    <tr>
      <th nzWidth="15%">Tipo de mesa</th>
      <th nzWidth="30%">Descripción</th>
      <th nzWidth="10%" style="text-align: center">Mesas Totales</th>
      <th nzWidth="10%" style="text-align: center">Mesas sin asignar</th>
      <th nzWidth="10%" style="text-align: center">Capacidad</th>
      <th nzWidth="10%" style="text-align: center">Reservar</th>
      <th nzWidth="15%">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTableMesas.data">
      <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
        <td>{{ data.tipo }}</td>
        <td>{{ data.descripcion }}</td>
        <td>{{ data.cantidad }}</td>
        <td>{{ data.disponibles }}</td>
        <td>{{ data.maximo }}</td>
        <td>{{ data.reserva }}</td>
        <td>
          <span
            class="badge bg-primary me-1"
            (click)="startEditGrid(data.id); openBasicModal(basicModal)"
            style="cursor: pointer"
            *ngIf="allowEdit"
            >Editar
          </span>
          <span
            class="badge bg-danger"
            style="cursor: pointer"
            *ngIf="allowEdit"
            (click)="deleteTipoMesa(data.id)"
            >Eliminar</span
          >
          <ng-template #iconTpl>
            <span nz-icon nzType="question-circle-o" style="color: red"></span>
          </ng-template>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.tipo"
            [ngModelOptions]="{ standalone: true }"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.descripcion"
            [ngModelOptions]="{ standalone: true }"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.cantidad"
            [ngModelOptions]="{ standalone: true }"
          />
        </td>

        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.maximo"
            [ngModelOptions]="{ standalone: true }"
          />
        </td>

        <td>
          <a (click)="saveEdit(data.id)" class="save">Guardar</a>
          <a (click)="cancelEdit(data.id)">Cancelar</a>
        </td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>

<!-- Modal -->
<ng-template #basicModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Agregar tipo de Mesa</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.close('by: close icon')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form class="forms-sample" [formGroup]="formMesa">
      <!-- TIPO DE HABITACION -->
      <div class="row ms-1 me-1 mb-2">
        <label class="form-label"><strong>Tipo de Mesa</strong></label>
        <input
          type="text"
          class="form-control"
          placeholder="Tipo de mesa"
          formControlName="tipo"
        />
        <div
          class="alert alert-danger p-2"
          *ngIf="
            formMesa.get('tipo')?.touched &&
            formMesa.get('tipo')?.errors?.required
          "
        >
          El tipo de habitación es requerido
        </div>
      </div>

      <!-- DESCRIPCION -->
      <div class="row ms-1 me-1 mb-2">
        <label class="form-label"><strong>Descripción</strong> </label>
        <input
          type="text"
          class="form-control"
          placeholder="Descripción"
          formControlName="descripcion"
        />
        <div
          class="alert alert-danger p-2"
          *ngIf="
            formMesa.get('descripcion')?.touched &&
            formMesa.get('descripcion')?.errors?.required
          "
        >
          La descripción es requerida
        </div>
      </div>

      <div class="row">
        <!-- CANTIDAD DE MESAS -->
        <div class="col-4">
          <div class="row ms-1 me-1">
            <label class="form-label"
              ><strong>Total de mesas disponibles</strong></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Habitaciones disponibles"
              formControlName="cantidad"
            />
          </div>
          <div
            class="alert alert-danger p-2 ms-1 me-1"
            *ngIf="
              formMesa.get('cantidad')?.touched &&
              formMesa.get('cantidad')?.errors?.required
            "
          >
            Se requiere un valor numérico
          </div>
        </div>
        <!-- RESERVADAS -->
        <div class="col-4">
          <div class="row ms-1 me-1">
            <label class="form-label"><strong>Mesas reservadas</strong></label>
            <input
              type="text"
              class="form-control"
              placeholder="Mesas reservadas"
              formControlName="reserva"
            />
          </div>
          <div
            class="alert alert-danger p-2 ms-1 me-1"
            *ngIf="
              formMesa.get('reserva')?.touched &&
              formMesa.get('reserva')?.errors?.required
            "
          >
            Se requiere un valor numérico
          </div>
          <div class="col-12">
            <div
              class="alert alert-danger p-2 ms-1 me-1"
              *ngIf="noExcederHabitacionesDisponibles(formMesa)"
            >
              Las mesas reservadas no pueden exceder el total de mesas
              disponibles
            </div>
          </div>
        </div>
        <!-- OCUPANTES MINIMO -->
        <div class="col-4">
          <div class="row ms-1 me-1 mb-2">
            <label class="form-label"><strong>Sillas</strong></label>
            <input
              type="text"
              class="form-control"
              placeholder="Máximo"
              formControlName="maximo"
            />
          </div>

          <div
            class="alert alert-danger p-2 ms-1 me-1"
            *ngIf="
              formMesa.get('maximo')?.touched &&
              formMesa.get('maximo')?.errors?.required
            "
          >
            Se requiere un valor numérico
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="formMesa.invalid"
      (click)="guardarNuevaMesa(true)"
    >
      Guardar y cerrar
    </button>
    <button
      type="button"
      class="btn btn-success"
      [disabled]="formMesa.invalid"
      (click)="guardarNuevaMesa(false)"
    >
      Guardar y Nuevo
    </button>
  </div>
</ng-template>

<ng-template #fileChoseModal let-modal>
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <div class="modal-header">
      <h5 class="modal-title">Mapa de mesas</h5>
      <button
        type="button"
        class="btn-close"
        (click)="modal.close('by: close icon')"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div>
        <label for="file-upload" class="custom-file-upload">
          Subir archivo
        </label>
        <input id="file-upload" type="file" (change)="capturarFile($event)" />
      </div>
      <div class="pt-1 text-center">
        <img
          *ngIf="imagenPrevia"
          style="width: 700px"
          [src]="imagenPrevia"
          alt=""
        />
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="subirArchivo()"
        [disabled]="!nuevaImagenCargada"
      >
        Guardar y cerrar
      </button>
    </div>
  </nz-spin>
</ng-template>
