<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/admin/config/usuarios">Usuarios</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ currentBreadcrumb }}
    </li>
  </ol>
</nav>

<nz-card>
  <form class="forms-sample" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6">
        <!-- Nombre del usuario -->
        <div class="mb-3">
          <label class="form-label"><strong>Nombre del usuario</strong></label>

          <div class="mb-3">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                placeholder="Nombre del usuario"
                formControlName="name"
              />
            </div>

            <div
              class="alert alert-danger p-2"
              *ngIf="
                form.get('name')?.touched && form.get('name')?.errors?.required
              "
            >
              El nombre del usuario es requerido
            </div>
          </div>
        </div>
        <!-- Email -->
        <div class="mb-3">
          <label class="form-label"><strong>Email</strong></label>

          <div class="mb-3">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                placeholder="Email"
                formControlName="email"
              />
            </div>

            <div
              class="alert alert-danger p-2"
              *ngIf="
                form.get('email')?.touched &&
                form.get('email')?.errors?.required
              "
            >
              El email es requerido
            </div>

            <div
              class="alert alert-danger p-2"
              *ngIf="
                form.get('email')?.touched && form.get('email')?.errors?.email
              "
            >
              El formato del email no es válido
            </div>
          </div>
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label class="form-label"><strong>Password</strong></label>

          <div class="mb-3">
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                autocomplete="off"
                placeholder="Password"
                formControlName="password"
              />
            </div>

            <div
              class="alert alert-danger p-2"
              *ngIf="
                form.get('password')?.touched &&
                form.get('password')?.errors?.required
              "
            >
              El password es requerido
            </div>
          </div>
        </div>
        <!-- Confirmar Password -->
        <div class="mb-3">
          <label class="form-label"><strong>Confirmar password</strong></label>

          <div class="mb-3">
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                autocomplete="off"
                placeholder="Confirmar password"
                formControlName="confirmPassword"
              />
            </div>

            <div
              class="alert alert-danger p-2"
              *ngIf="
                form.get('confirmPassword')?.touched &&
                form.get('confirmPassword')?.errors?.required
              "
            >
              Favor de confirmar el password
            </div>
            <div
              class="alert alert-danger p-2"
              *ngIf="
                form.get('confirmPassword')?.touched &&
                !form.get('confirmPassword')?.errors?.required &&
                form.errors?.passwordMismatch
              "
            >
              Favor de verificar, los passwords no coinciden
            </div>
          </div>
        </div>

        <!-- Role removido -->

        <!-- Tipo de usuario -->
        <div class="mb-3">
          <label class="form-label"><strong>Tipo de usuario</strong></label>
          <div class="mb-3">
            <ng-select
              [items]="tiposUsuario"
              [searchable]="false"
              [clearable]="false"
              formControlName="tipoUsuarioId"
              bindValue="id"
              bindLabel="nombre"
            >
            </ng-select>
            <div
              class="alert alert-danger p-2"
              *ngIf="
                form.get('tipoUsuarioId')?.touched &&
                form.get('tipoUsuarioId')?.errors?.required
              "
            >
              El tipo de usuario es requerido
            </div>
          </div>
        </div>

        <!-- Filial -->
        <div class="mb-3" *ngIf="mostrarFilial">
          <label class="form-label"><strong>Filial</strong></label>
          <div class="mb-3">
            <ng-select
              [items]="filiales"
              [searchable]="false"
              [clearable]="true"
              formControlName="filialId"
              bindValue="id"
              bindLabel="nombre"
            >
            </ng-select>
            <div
              class="alert alert-danger p-2"
              *ngIf="
                form.get('filialId')?.touched &&
                form.get('filialId')?.errors?.required
              "
            >
              La filial es requerida
            </div>
          </div>
        </div>

        <!-- Grupos y unidades removidos -->
      </div>
    </div>

    <div class="floating-buttons mt-3">
      <button
        *ngIf="usuarioId != null && isDisabled"
        type="button"
        class="btn btn-info me-2"
        (click)="onActivar()"
      >
        Activar usuario
      </button>
      <button
        *ngIf="usuarioId != null && !isDisabled"
        type="button"
        class="btn btn-danger me-2"
        (click)="onDesactivar()"
      >
        Desactivar usuario
      </button>
      <button
        *ngIf="usuarioId != null"
        type="button"
        class="btn btn-success me-2"
        (click)="openModal(basicModal)"
      >
        Cambiar contraseña
      </button>

      <button
        type="submit"
        class="btn btn-primary me-2"
        [disabled]="form.invalid"
      >
        Guardar cambios
      </button>
    </div>
  </form>
</nz-card>

<!-- Modal -->
<ng-template #basicModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cambiar contraseña</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.close('by: close icon')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form
      class="forms-sample"
      (ngSubmit)="onCambiarContrasena()"
      [formGroup]="formPassword"
    >
      <!-- Password -->
      <div class="mb-3">
        <label class="form-label"><strong>Password</strong></label>
        <div class="mb-3">
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              autocomplete="off"
              placeholder="Introduce nueva contraseña"
              formControlName="password"
            />
          </div>
          <div
            class="alert alert-danger p-2"
            *ngIf="
              formPassword.get('password')?.touched &&
              formPassword.get('password')?.errors?.required
            "
          >
            El password es requerido
          </div>
        </div>
      </div>
      <!-- Confirmar Password -->
      <div class="mb-3">
        <label class="form-label"><strong>Confirmar password</strong></label>
        <div class="mb-3">
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              autocomplete="off"
              placeholder="Confirmar password"
              formControlName="confirmPassword"
            />
          </div>
          <div
            class="alert alert-danger p-2"
            *ngIf="
              formPassword.get('confirmPassword')?.touched &&
              formPassword.get('confirmPassword')?.errors?.required
            "
          >
            Favor de confirmar el password
          </div>
          <div
            class="alert alert-danger p-2"
            *ngIf="
              formPassword.get('confirmPassword')?.touched &&
              !formPassword.get('confirmPassword')?.errors?.required &&
              formPassword.errors?.passwordMismatch
            "
          >
            Favor de verificar, los passwords no coinciden
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary me-2"
      [disabled]="formPassword.invalid"
      (click)="onCambiarContrasena()"
    >
      Cambiar contraseña
    </button>
  </div>
</ng-template>
