<nz-tabset nz-tabset nzType="card">
  <nz-tab nzTitle="Generales">
    <nz-card>
      <form class="forms-sample" [formGroup]="form">
        <!-- NOMBRE Y FECHA DE NACIMIENTO -->
        <div class="row">
          <div class="col-6">
            <div class="row mb-3">
              <label for="exampleInputUsername2" class="col-4 col-form-label"
                ><strong>Nombre completo</strong></label
              >
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputUsername2"
                  placeholder="Nombre completo"
                  formControlName="nombre"
                />
                <div
                  class="alert alert-danger p-2"
                  *ngIf="
                    form.get('nombre')?.touched &&
                    form.get('nombre')?.errors?.required
                  "
                >
                  El nombre es requerido
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row mb-3">
              <label for="exampleInputEmail2" class="col-4 col-form-label"
                ><strong>Rango de edad</strong></label
              >
              <div class="col-8">
                <ng-select
                  [items]="rangoEdadOptions"
                  [searchable]="false"
                  [clearable]="false"
                  formControlName="edad"
                  bindValue="id"
                  bindLabel="nombre"
                >
                </ng-select>
                <div
                  class="alert alert-danger p-2"
                  *ngIf="
                    form.get('edad')?.touched &&
                    form.get('edad')?.errors?.required
                  "
                >
                  <div *ngIf="form.get('edad')?.errors?.required">
                    El rango de edad es requerido
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- TIPO INVITADO Y FECHA INDGRESO -->
        <div class="row">
          <div class="col-6">
            <div class="row mb-3">
              <label for="exampleInputUsername2" class="col-4 col-form-label"
                ><strong>Tipo Invitado</strong></label
              >
              <div class="col-8">
                <div class="mb-3">
                  <ng-select
                    [items]="tipoInvitadoOptions"
                    [searchable]="false"
                    [clearable]="false"
                    formControlName="tipoInvitado"
                    bindValue="id"
                    bindLabel="nombre"
                  >
                  </ng-select>

                  <div
                    class="alert alert-danger p-2"
                    *ngIf="
                      form.get('tipoInvitado')?.touched &&
                      form.get('tipoInvitado')?.errors?.required
                    "
                  >
                    Seleccione un role
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row mb-3">
              <label for="exampleInputEmail2" class="col-4 col-form-label"
                ><strong>Año de Ingreso</strong></label
              >
              <div class="col-8">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Año de ingreso"
                    formControlName="fechaIngreso"
                  />
                </div>
                <div
                  class="alert alert-danger p-2"
                  *ngIf="
                    form.get('fechaIngreso')?.touched &&
                    (form.get('fechaIngreso')?.errors?.required ||
                      form.get('fechaIngreso')?.errors?.pattern)
                  "
                >
                  <div *ngIf="form.get('fechaIngreso')?.errors?.required">
                    El año de ingreso es requerido
                  </div>
                  <div *ngIf="form.get('fechaIngreso')?.errors?.pattern">
                    El año de ingreso debe ser un número de 4 dígitos
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- GRUPO, UNIDAD DE NEGOCIO Y FILIAL -->
        <div class="row">
          <div class="col-4">
            <div class="row mb-3">
              <label for="exampleInputMobile" class="col-2 col-form-label"
                ><strong>Grupo</strong></label
              >
              <div class="col-10">
                <ng-select
                  [items]="filtroGrupos"
                  bindValue="id"
                  bindLabel="nombre"
                  [searchable]="false"
                  [clearable]="false"
                  (change)="onFiltroGrupoChange($event)"
                  formControlName="grupoId"
                >
                </ng-select>
                <div
                  class="alert alert-danger p-2"
                  *ngIf="
                    form.get('grupoId')?.touched &&
                    form.get('grupoId')?.errors?.required
                  "
                >
                  El grupo es requerido
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row mb-3">
              <label for="exampleInputMobile" class="col-2 col-form-label"
                ><strong>Unidad</strong></label
              >
              <div class="col-10">
                <ng-select
                  [items]="filtroUN"
                  bindValue="id"
                  bindLabel="nombre"
                  [searchable]="false"
                  (change)="onFiltroUNChanged($event)"
                  formControlName="unidadNegocioId"
                >
                </ng-select>
                <span
                  *ngIf="lugaresDisponibles > 0 && selectedFiltroUN != null"
                  [ngClass]="{
                    badge: true,
                    'bg-success': lugaresDisponibles > 1,
                    'bg-warning text-dark': lugaresDisponibles == 1
                  }"
                  >{{ lugaresDisponibles }} lugares disponibles para esta
                  unidad</span
                >
                <span
                  *ngIf="lugaresDisponibles <= 0 && selectedFiltroUN != null"
                  class="badge bg-danger"
                  >Ya no hay lugares disponibles para esta unidad</span
                >
                <div
                  class="alert alert-danger p-2"
                  *ngIf="
                    form.get('unidadNegocioId')?.touched &&
                    form.get('unidadNegocioId')?.errors?.required
                  "
                >
                  La unidad de negocio es requerida
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row mb-3">
              <label for="exampleInputMobile" class="col-2 col-form-label"
                ><strong>Filial</strong></label
              >
              <div class="col-10">
                <ng-select
                  [items]="filtroFiliales"
                  bindValue="id"
                  bindLabel="nombre"
                  [searchable]="false"
                  formControlName="filialId"
                  (change)="onFiltroFilialChange($event)"
                >
                </ng-select>
                <div
                  class="alert alert-danger p-2"
                  *ngIf="
                    form.get('filialId')?.touched &&
                    form.get('filialId')?.errors?.required
                  "
                >
                  La filial es requerida
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-8">
                <label for="exampleInputPassword2" class="col-form-label"
                  ><strong>Participa en rifa</strong></label
                >
              </div>
              <div class="col-4 mt-2">
                <div class="form-check form-switch">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="formSwitch1"
                    formControlName="participaEnRifa"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-6" *ngIf="this.tipoFormulario == '2'">
            <div class="row">
              <div class="col-8">
                <label for="exampleInputPassword2" class="col-form-label"
                  ><strong>Crédito Solarum</strong></label
                >
              </div>
              <div class="col-4 mt-2">
                <div class="form-check form-switch">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="formSwitch1"
                    formControlName="creditoSolarum"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- COMENTARIOS -->
        <div class="row mb-3">
          <div class="col-12">
            <label for="exampleInputPassword2" class="col-form-label"
              ><strong>Comentarios</strong></label
            >
            <textarea
              class="form-control"
              id="exampleInputPassword2"
              autocomplete="off"
              placeholder="Comentarios"
              formControlName="comentarios"
              rows="2"
            ></textarea>
          </div>
        </div>
        <!-- RELACIONAR CON OTRO EVENTO -->
        <div class="row">
          <div class="col-6">
            <div class="row mb-3">
              <div class="col-8">
                <label for="exampleInputPassword2" class="col-form-label"
                  ><strong>Relacionar con otro evento</strong></label
                >
              </div>
              <div class="col-4 mt-2">
                <div class="form-check form-switch">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="formSwitch1"
                    (change)="onRelacionarEvento($event)"
                    formControlName="relacionarConOtroEvento"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row mb-3">
              <div class="col-1 text-end">
                <label for="exampleInputPassword2" class="col-form-label"
                  ><strong>Evento</strong></label
                >
              </div>
              <div class="col-11">
                <div class="form-check form-switch">
                  <ng-select
                    [items]="eventos"
                    [searchable]="false"
                    bindValue="id"
                    bindLabel="nombre"
                    formControlName="eventoRelacionadoId"
                    (change)="onEventoRelacionadoChange($event)"
                  >
                  </ng-select>
                  <div
                    class="alert alert-danger p-2"
                    *ngIf="
                      form.get('eventoRelacionadoId')?.touched &&
                      form.get('eventoRelacionadoId')?.errors?.required
                    "
                  >
                    El evento es requerido
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="this.tipoFormulario == '2'">
          <div class="col-6">
            <div class="row">
              <div class="col-8">
                <label for="exampleInputPassword2" class="col-form-label"
                  ><strong>Requiere hospedaje</strong></label
                >
              </div>
              <div class="col-4 mt-2">
                <div class="form-check form-switch">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="formSwitch1"
                    formControlName="requiereHospedaje"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="collapseExample" [ngbCollapse]="!requiereHospedaje">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <!-- FECHA ESTANCIA -->
              <div class="row mb-3">
                <div class="col-12">
                  <div class="row mb-3">
                    <div class="col-2">
                      <label for="exampleInputPassword2" class="col-form-label"
                        ><strong>Inicio estancia</strong></label
                      >
                    </div>
                    <div class="col-4">
                      <div class="form-check form-switch">
                        <div class="input-group">
                          <input
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="dp"
                            ngbDatepicker
                            #fd="ngbDatepicker"
                            formControlName="fechaHospedajeInicio"
                          />
                          <button
                            class="input-group-text"
                            type="button"
                            (click)="fd.toggle()"
                            [disabled]="!requiereHospedaje || readOnlyMode"
                          >
                            <i
                              class="feather icon-calendar icon-md text-muted"
                            ></i>
                          </button>
                        </div>
                        <div
                          class="alert alert-danger p-2"
                          *ngIf="
                            form.get('fechaHospedajeInicio')?.touched &&
                            form.get('fechaHospedajeInicio')?.errors?.required
                          "
                        >
                          La fecha de inicio de hospedaje es requerida
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <label for="exampleInputPassword2" class="col-form-label"
                        ><strong>Fin estancia</strong></label
                      >
                    </div>
                    <div class="col-4">
                      <div class="form-check form-switch">
                        <div class="input-group">
                          <input
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="dp"
                            ngbDatepicker
                            #ff="ngbDatepicker"
                            formControlName="fechaHospedajeFin"
                          />
                          <button
                            class="input-group-text"
                            type="button"
                            (click)="ff.toggle()"
                            [disabled]="!requiereHospedaje || readOnlyMode"
                          >
                            <i
                              class="feather icon-calendar icon-md text-muted"
                            ></i>
                          </button>
                        </div>
                        <div
                          class="alert alert-danger p-2"
                          *ngIf="
                            form.get('fechaHospedajeFin')?.touched &&
                            form.get('fechaHospedajeFin')?.errors?.required
                          "
                        >
                          La fecha de fin de hospedaje es requerida
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="form.hasError('dates')"
                      class="alert alert-danger p-2"
                    >
                      {{ form.getError("dates") }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>

        <!-- REQUIERE TRANSPORTE -->
        <div class="row">
          <div class="col-6">
            <div class="row">
              <label class="col-8 col-form-label" for="formSwitch1"
                ><strong
                  >Requiere transporte proporcionado por Promotora
                  futura</strong
                ></label
              >
              <div class="col-4 mt-2">
                <div class="form-check form-switch">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="formSwitch1"
                    formControlName="requiereTransporte"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="collapseExample" [ngbCollapse]="!requiereTransporte">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <!-- ORIGEN Y DESTINO -->
              <div class="row mb-3">
                <div class="col-6">
                  <label for="exampleInputPassword2" class="col-form-label"
                    ><strong>Origen</strong></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputPassword2"
                    autocomplete="off"
                    placeholder="Origen"
                    formControlName="origen"
                  />
                  <div
                    class="alert alert-danger p-2"
                    *ngIf="
                      form.get('origen')?.touched &&
                      form.get('origen')?.errors?.required
                    "
                  >
                    El origen es requerido
                  </div>
                </div>
                <div class="col-6">
                  <label for="exampleInputPassword2" class="col-form-label"
                    ><strong>Destino</strong></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputPassword2"
                    autocomplete="off"
                    placeholder="Destino"
                    formControlName="destino"
                  />
                  <div
                    class="alert alert-danger p-2"
                    *ngIf="
                      form.get('destino')?.touched &&
                      form.get('destino')?.errors?.required
                    "
                  >
                    El destino es requerido
                  </div>
                </div>
              </div>
              <!-- FECHA ESTANCIA -->
              <div class="row mb-3">
                <div class="col-12">
                  <div class="row mb-3">
                    <div class="col-2">
                      <label for="exampleInputPassword2" class="col-form-label"
                        ><strong>Fecha llegada</strong></label
                      >
                    </div>
                    <div class="col-4">
                      <div class="form-check form-switch">
                        <div class="input-group">
                          <input
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="dp"
                            ngbDatepicker
                            #fd="ngbDatepicker"
                            formControlName="fechaEstanciaInicio"
                          />
                          <button
                            class="input-group-text"
                            type="button"
                            (click)="fd.toggle()"
                            [disabled]="!requiereTransporte || readOnlyMode"
                          >
                            <i
                              class="feather icon-calendar icon-md text-muted"
                            ></i>
                          </button>
                        </div>
                        <div
                          class="alert alert-danger p-2"
                          *ngIf="
                            form.get('fechaEstanciaInicio')?.touched &&
                            form.get('fechaEstanciaInicio')?.errors?.required
                          "
                        >
                          La fecha de llegada es requerida
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <label for="exampleInputPassword2" class="col-form-label"
                        ><strong>Fecha regreso</strong></label
                      >
                    </div>
                    <div class="col-4">
                      <div class="form-check form-switch">
                        <div class="input-group">
                          <input
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="dp"
                            ngbDatepicker
                            #ff="ngbDatepicker"
                            formControlName="fechaEstanciaFin"
                          />
                          <button
                            class="input-group-text"
                            type="button"
                            (click)="ff.toggle()"
                            [disabled]="!requiereTransporte || readOnlyMode"
                          >
                            <i
                              class="feather icon-calendar icon-md text-muted"
                            ></i>
                          </button>
                        </div>
                        <div
                          class="alert alert-danger p-2"
                          *ngIf="
                            form.get('fechaEstanciaFin')?.touched &&
                            form.get('fechaEstanciaFin')?.errors?.required
                          "
                        >
                          La fecha de regreso es requerida
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="form.hasError('dates')"
                      class="alert alert-danger p-2"
                    >
                      {{ form.getError("dates") }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            *ngIf="invitadoId"
            type="button"
            class="btn btn-danger"
            (click)="eliminar()"
            [disabled]="readOnlyMode"
          >
            Eliminar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="form.invalid || readOnlyMode"
            (click)="guardar(true)"
          >
            Guardar y cerrar
          </button>
          <button
            type="button"
            class="btn btn-success"
            [disabled]="form.invalid || readOnlyMode"
            (click)="guardar(false)"
          >
            Guardar y nuevo
          </button>
        </div>
      </form>
    </nz-card>
  </nz-tab>

  <nz-tab nzTitle="Histórico de cambios">
    <app-evento-tracking [eventoId]="eventoId" [invitadoId]="invitadoId">
    </app-evento-tracking>
  </nz-tab>
</nz-tabset>
