<div
  class="alert alert-success d-flex justify-content-between align-items-center"
  [ngClass]="{
    'alert  d-flex justify-content-between align-items-center': true,
    'alert-success': invitadosActuales <= invitadosMaximos,
    'alert-danger': invitadosActuales > invitadosMaximos
  }"
  role="alert"
>
  <span class="flex-grow-1"
    >Invitados: {{ invitadosActuales }} de {{ invitadosMaximos }}</span
  >

  <button class="btn btn-success btn-sm me-2" (click)="reporteListaInvitados()">
    <span>Lista de Invitados</span>
  </button>
  <button class="btn btn-success btn-sm me-2" (click)="reporteResumenPorEdad()">
    <span>Resumen por edad</span>
  </button>
  <button
    class="btn btn-success btn-sm me-2"
    (click)="openResumenHabitaciones(resumenHabitacionesTmeplate)"
  >
    Resumen Habitaciones
  </button>
  <button
    type="button"
    class="btn btn-outline-primary me-1 btn-sm me-2"
    (click)="reporteRooming()"
  >
    Reporte rooming <i nz-icon nzType="download" class="ms-1"></i>
  </button>
  <button
    class="btn btn-primary btn-sm"
    (click)="openLoadInvitadosLayout(cargaLayoutInvitados)"
    *ngIf="readOnlyMode == false"
  >
    Cargar invitados
  </button>
</div>

<div class="row">
  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <label class="form-label"><strong>Grupo</strong></label>
      <ng-select
        style="width: 250px"
        [items]="filtroGrupos"
        bindValue="id"
        bindLabel="nombre"
        [searchable]="false"
        [clearable]="false"
        [(ngModel)]="selectedFiltroGrupo"
        [ngModelOptions]="{ standalone: true }"
        (change)="onFiltroGrupoChange($event)"
        #lstGrupos
      >
      </ng-select>
    </div>

    <div class="p-2 bd-highlight">
      <div class="row">
        <label class="form-label"><strong>Filtro invitados</strong></label>
      </div>

      <div class="row">
        <nz-tree-select
          style="width: 350px"
          class="tree-style"
          [(ngModel)]="invitadoTreeSelectedValue"
          [nzNodes]="nodesInvitados"
          (ngModelChange)="onInvitadosFilterChanged($event)"
          nzShowSearch
          nzCheckable
          nzAllowClear
          #treeInvitados
        ></nz-tree-select>
      </div>
    </div>

    <div class="p-2 bd-highlight">
      <div class="row">
        <label class="form-label"><strong>Filtro Habitaciones</strong></label>
      </div>

      <div class="row">
        <nz-tree-select
          style="width: 450px"
          class="tree-style"
          [(ngModel)]="habitacionTreeSelectedValue"
          [nzNodes]="nodesHabitaciones"
          (ngModelChange)="onHabitacionesFilterChanged($event)"
          nzShowSearch
          nzCheckable
          nzAllowClear
          #treeHabitaciones
        ></nz-tree-select>
      </div>
    </div>
  </div>
</div>

<nz-spin [nzSpinning]="isLoading" [nzSize]="'large'">
  <div cdkDropListGroup>
    <div class="row">
      <div class="col-2">
        <div class="row">
          <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight flex-grow-1">
              <strong>Invitados</strong>
            </div>
            <div class="p-2 bd-highlight">
              <span
                *ngIf="readOnlyMode == false"
                class="badge rounded-pill bg-primary"
                (click)="openBasicModal(basicModal, null)"
                style="cursor: pointer"
                >Agregar</span
              >
            </div>
          </div>
        </div>
        <div style="height: 500px; overflow-y: auto">
          <app-evento-invitados-habitacion
            [eventoId]="eventoId!"
            (droppedItemEvent)="droppedItem($event)"
            (editEvent)="openBasicModal(basicModal, $event)"
            [readOnlyMode]="readOnlyMode"
          >
          </app-evento-invitados-habitacion>
        </div>
      </div>
      <div class="col-10">
        <label class="form-label"><strong>Habitaciones</strong></label>
        <div style="height: 500px; overflow-y: auto; overflow-x: hidden">
          <app-evento-habitacion
            *ngFor="let hab of listaHabitacionesFiltrada"
            [habitacion]="hab"
            (droppedItemEvent)="droppedItem($event)"
            (setOcupationDateEvent)="setOcupationDate($event)"
            (editEvent)="openBasicModal(basicModal, $event)"
            [readOnlyMode]="readOnlyMode"
            [grupoActual]="currentGrupo"
            [grupos]="filtroGrupos"
          ></app-evento-habitacion>
        </div>
      </div>
    </div>
  </div>
</nz-spin>

<ng-template #basicModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ getModalTitle() }}</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.close('by: close icon')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <app-event-invitado-edit
      [grupoFilial]="filtroGrupos"
      [eventoId]="eventoId!"
      [invitadoId]="invitadoEditar"
      (onInvitadoDeleted)="onInvitadoDeleted($event)"
      (onInvitadoSaved)="onInvitadoSaved($event)"
      [readOnlyMode]="readOnlyMode"
    ></app-event-invitado-edit>
  </div>
</ng-template>

<ng-template #cargaLayoutInvitados let-modal>
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <div class="modal-header">
      <h5 class="modal-title">Carga masiva de Invitados</h5>
      <button
        type="button"
        class="btn-close"
        (click)="modal.close('by: close icon')"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div>
        <label for="file-upload" class="custom-file-upload">
          Subir archivo
        </label>
        <input
          id="file-upload"
          type="file"
          accept=".csv"
          (change)="capturarFile($event)"
        />
      </div>

      <div class="form-group mt-2" *ngIf="erroresValidacion.length > 0">
        <label for="multiline-input" class="text-danger"
          >Verifique los siguientes errores:</label
        >
        <textarea
          id="multiline-input"
          class="form-control"
          rows="10"
          readonly
          [(ngModel)]="erroresValidacion"
        ></textarea>
      </div>

      <div class="form-group mt-2" *ngIf="resultadoCargaInvitados.length > 0">
        <label for="multiline-input" class="text-danger"
          >Resultado carga:</label
        >
        <textarea
          id="multiline-input"
          class="form-control"
          rows="10"
          readonly
          [(ngModel)]="resultadoCargaInvitados"
        ></textarea>
      </div>

      <div class="form-group mt-2" *ngIf="listoParaCargar">
        <label for="multiline-input" class="text-success"
          >Validación exitosa</label
        >
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="subirArchivo()"
        [disabled]="!nuevoArchivoCargado || listoParaCargar"
      >
        Verificar archivo
      </button>
      <button
        type="button"
        class="btn btn-success"
        (click)="guardarInvitados()"
        [disabled]="!listoParaCargar"
      >
        Cargar Invitados
      </button>
    </div>
  </nz-spin>
</ng-template>

<ng-template #resumenHabitacionesTmeplate let-modal>
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <div class="modal-header">
      <h5 class="modal-title">Resumen de Habitaciones</h5>
      <button
        type="button"
        class="btn-close"
        (click)="modal.close('by: close icon')"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <nz-table
        #editRowTableResumen
        nzBordered
        [nzData]="resumenHabitaciones"
        nzTableLayout="fixed"
      >
        <thead>
          <tr>
            <th nzWidth="15%">Grupo</th>
            <th nzWidth="30%">Tipo Habitacion</th>
            <th nzWidth="12%" style="text-align: center">
              Habitaciones Totales
            </th>
            <th nzWidth="12%" style="text-align: center">
              Habitaciones sin utilizar
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of editRowTableResumen.data">
            <ng-container>
              <td>{{ data.nombreGrupo }}</td>
              <td>{{ data.tipoHabitacion }}</td>
              <td>{{ data.totalHabitaciones }}</td>
              <td>{{ data.totalHabitacionesDisponibles }}</td>
            </ng-container>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="downloadReporteHabitaciones()"
      >
        Descargar CSV
      </button>
    </div>
  </nz-spin>
</ng-template>
