<div
  id="invitados"
  cdkDropList
  [cdkDropListData]="listaInvitadosFiltrada"
  [ngClass]="{
    'vertical-list': !isDragging,
    'vertical-list-indicator': isDragging
  }"
  (cdkDropListDropped)="drop($event)"
  (cdkDropListEntered)="dragEntered($event)"
  (cdkDropListExited)="dragExited($event)"
>
  <div
    *ngFor="let item of listaInvitadosFiltrada"
    class="vertical-box cursor-arrow"
    [ngClass]="{
      'horizontal-box-menor': item.edad === 'Menor',
      'horizontal-box-infante': item.edad === 'Infante'
    }"
    cdkDrag
    [appConditionalDrag]="!readOnlyMode"
    (click)="onClick(item)"
  >
  {{ item.nombre }} 
    <img
      *ngIf="item.edad === 'Menor' || item.edad === 'Infante'"
      src="assets/images/toy.png"
      alt="toy"
      class="toy-icon"
    />
  </div>
</div>
