<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Movimientos de Estado de Cuenta</h6>
        
        <div class="d-flex justify-content-between align-items-center bd-highlight mb-3">
          <div class="flex-grow-1 bd-highlight me-2">
            <input
              type="text"
              class="form-control w-100"
              placeholder="Filtrar por periodo, grupo, filial, sucursal, tipo o observación..."
              [(ngModel)]="filtro"
            />
          </div>
          <div class="bd-highlight">
            <button class="btn btn-primary me-2" (click)="showModal()">
              <i class="feather icon-plus pe-2"></i>
              Nuevo Movimiento
            </button>
            <button class="btn btn-success" (click)="exportToExcel()">
              <i class="feather icon-download pe-2"></i>
              Exportar Excel
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <nz-table #basicTable 
            [nzData]="movimientosFiltrados" 
            [nzLoading]="loading" 
            [nzFrontPagination]="true" 
            [nzPageSize]="10"
            [nzShowSizeChanger]="true"
            [nzPageSizeOptions]="[5, 10, 20, 50, 100]">
            <thead>
              <tr>
                <th [nzSortFn]="sortFecha">Fecha</th>
                <th [nzSortFn]="sortPeriodo">Periodo</th>
                <th [nzSortFn]="sortGrupo">Grupo</th>
                <th [nzSortFn]="sortFilial">Filial</th>
                <th [nzSortFn]="sortSucursal">Sucursal</th>
                <th [nzSortFn]="sortMontoMXN" class="text-end">Monto MXN</th>
                <th [nzSortFn]="sortMontoUSD" class="text-end">Monto USD</th>
                <th [nzSortFn]="sortTipo">Tipo Movimiento</th>
                <th [nzSortFn]="sortObservacion">Observación</th>
                <th style="width: 120px;" class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{ data.fecha | date:'dd/MM/yyyy' }}</td>
                <td>{{ data.periodo?.nombre }}</td>
                <td>{{ data.grupoNombre }}</td>
                <td>{{ data.filialNombre }}</td>
                <td>{{ data.sucursalNombre }}</td>
                <td class="text-end">{{ data.montoMXN | currency:'USD':'symbol':'1.2-2' }}</td>
                <td class="text-end">{{ data.montoUSD | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ data.tipoMovimiento?.nombre }}</td>
                <td>{{ data.observacion }}</td>
                <td class="text-center">
                  <button class="btn btn-sm btn-outline-primary" (click)="showEditModal(data)">
                    <i class="feather icon-edit"></i>
                    Editar
                  </button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
  [nzOkDisabled]="editDisabled"
  nzWidth="800px"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <div class="row">
        <div class="col-md-6">
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Fecha</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Seleccione la fecha">
                    <nz-date-picker formControlName="fecha"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-md-6">
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Tipo</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Seleccione el tipo">
                    <nz-select formControlName="tipoMovimientoId" nzPlaceHolder="Seleccionar tipo">
                        <nz-option *ngFor="let t of tiposMovimiento" [nzLabel]="t.nombre" [nzValue]="t.id"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Grupo</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Seleccione el grupo">
                    <nz-select formControlName="grupoId" nzPlaceHolder="Seleccionar grupo" nzAllowClear (ngModelChange)="onGrupoChange($event)">
                        <nz-option *ngFor="let g of grupos" [nzLabel]="g.nombre" [nzValue]="g.id"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-md-6">
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24">Filial</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-select formControlName="filialId" nzPlaceHolder="Seleccionar filial" nzAllowClear (ngModelChange)="onFilialChange($event)">
                        <nz-option *ngFor="let f of filiales" [nzLabel]="f.nombre" [nzValue]="f.id"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24">Sucursal</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-select formControlName="sucursalId" nzPlaceHolder="Seleccionar sucursal" nzAllowClear>
                        <nz-option *ngFor="let s of sucursales" [nzLabel]="s.nombre" [nzValue]="s.id"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Monto MXN</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-input-number formControlName="montoMXN" [nzStep]="0.01" [nzMin]="minMonto" style="width: 100%;"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-md-6">
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Monto USD</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-input-number formControlName="montoUSD" [nzStep]="0.01" [nzMin]="minMonto" style="width: 100%;"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <nz-form-item>
                <nz-form-label [nzSm]="4" [nzXs]="24">Observación</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24">
                    <textarea nz-input formControlName="observacion" rows="3"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
      </div>
       <div class="row">
        <div class="col-md-12">
            <nz-form-item>
                <nz-form-label [nzSm]="4" [nzXs]="24">Referencia</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24">
                    <input nz-input formControlName="referencia" />
                </nz-form-control>
            </nz-form-item>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <nz-form-item>
                <nz-form-label [nzSm]="4" [nzXs]="24">Comprobante</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24">
                    <app-document-upload
                        [hasFile]="hasComprobante(editingMovimientoId)"
                        (fileSelected)="onComprobanteUpload($event, editingMovimientoId)"
                        (view)="viewComprobante(editingMovimientoId)"
                        (delete)="deleteComprobante(editingMovimientoId)">
                    </app-document-upload>
                </nz-form-control>
            </nz-form-item>
        </div>
      </div>

    </form>
  </ng-container>
</nz-modal>
