.bordered {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Esto añade un fondo oscuro semi-transparente */
  z-index: 9999; /* Esto asegura que el contenedor esté por encima de otros elementos */
}

.tree-style {
  line-height: 2.3;
  //box-sizing: border-box;
  //font-feature-settings: "tnum";
  //list-style: none;
  //height: 38px;
  //border-radius: 0.25rem;
}
