/* Oculta los botones dentro del td por defecto, haciéndolos transparentes */
td > button {
  opacity: 0; /* Hace el botón completamente transparente */
  transition: opacity 0.7s ease; /* Transición suave de la opacidad durante 0.5 segundos */
}

/* Muestra los botones cuando el mouse pasa sobre el tr, haciéndolos completamente opacos */
tr:hover td > button {
  opacity: 1; /* Hace el botón completamente opaco */
}

.table-style tr:hover {
  background-color: #ececec;
}
