<div class="d-flex flex-row bd-highlight">
  <div class="p-2 bd-highlight flex-grow-1">
    <label class="form-label"
      ><strong
        >Capture los tipos de habitaciones con las que cuenta el hotel</strong
      ></label
    >
  </div>

  <div class="p-2 bd-highlight">
    <button
      *ngIf="allowEdit"
      type="button"
      class="btn btn-success btn-xs mt-1"
      (click)="clearFormTipoHabitacionData(); openBasicModal(basicModal)"
    >
      Agregar
    </button>
  </div>
</div>

<nz-table
  #editRowTableHabitaciones
  nzBordered
  [nzData]="listOfDataGrid"
  nzTableLayout="fixed"
>
  <thead>
    <tr>
      <th nzWidth="15%">Tipo de habitación</th>
      <th nzWidth="30%">Descripción</th>
      <th nzWidth="12%" style="text-align: center">Habitaciones Totales</th>
      <th nzWidth="12%" style="text-align: center">Habitaciones sin asignar</th>
      <th nzWidth="10%" style="text-align: center">Capacidad Mínima</th>
      <th nzWidth="10%" style="text-align: center">Capacidad Máxima</th>
      <th nzWidth="10%" style="text-align: center">Reservar</th>
      <th nzWidth="15%">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTableHabitaciones.data">
      <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
        <td>{{ data.tipoHabitacion }}</td>
        <td>{{ data.descripcion }}</td>
        <td>{{ data.cantidad }}</td>
        <td>{{ data.disponibles }}</td>
        <td>{{ data.minimo }}</td>
        <td>{{ data.maximo }}</td>
        <td>{{ data.reserva }}</td>
        <td>
          <span
            *ngIf="allowEdit"
            class="badge bg-primary me-1"
            (click)="startEditGrid(data.id); openBasicModal(basicModal)"
            style="cursor: pointer"
            >Editar
          </span>
          <span
            class="badge bg-danger"
            style="cursor: pointer"
            *ngIf="allowEdit"
            (click)="deleteTipoHabitacion(data.id)"
            >Eliminar</span
          >
          <ng-template #iconTpl>
            <span nz-icon nzType="question-circle-o" style="color: red"></span>
          </ng-template>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.tipoHabitacion"
            [ngModelOptions]="{ standalone: true }"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.descripcion"
            [ngModelOptions]="{ standalone: true }"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.cantidad"
            [ngModelOptions]="{ standalone: true }"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.minimo"
            [ngModelOptions]="{ standalone: true }"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.maximo"
            [ngModelOptions]="{ standalone: true }"
          />
        </td>

        <td>
          <a (click)="saveEdit(data.id)" class="save">Guardar</a>
          <a (click)="cancelEdit(data.id)">Cancelar</a>
        </td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>

<ng-template #basicModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Agregar tipo de Habitación</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.close('by: close icon')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form class="forms-sample" [formGroup]="formHabitacion">
      <!-- TIPO DE HABITACION -->
      <div class="row ms-1 me-1 mb-2">
        <label class="form-label"><strong>Tipo de Habitación</strong></label>
        <input
          type="text"
          class="form-control"
          placeholder="Tipo de habitación"
          formControlName="tipoHabitacion"
        />
        <div
          class="alert alert-danger p-2"
          *ngIf="
            formHabitacion.get('tipoHabitacion')?.touched &&
            formHabitacion.get('tipoHabitacion')?.errors?.required
          "
        >
          El tipo de habitación es requerido
        </div>
      </div>

      <!-- DESCRIPCION -->
      <div class="row ms-1 me-1 mb-2">
        <label class="form-label"><strong>Descripción</strong> </label>
        <input
          type="text"
          class="form-control"
          placeholder="Descripción"
          formControlName="descripcion"
        />
        <div
          class="alert alert-danger p-2"
          *ngIf="
            formHabitacion.get('descripcion')?.touched &&
            formHabitacion.get('descripcion')?.errors?.required
          "
        >
          La descripción es requerida
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <!-- HABITACIONES DISPONIBLES -->
          <div class="row ms-1 me-1 mb-2">
            <label class="form-label"
              ><strong>Total habitaciones disponibles</strong></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Habitaciones disponibles"
              formControlName="cantidad"
            />
          </div>
          <div
            class="alert alert-danger p-2 ms-1 me-1"
            *ngIf="
              formHabitacion.get('cantidad')?.touched &&
              formHabitacion.get('cantidad')?.errors?.required
            "
          >
            Se requiere un valor numérico
          </div>
        </div>
        <div class="col-6">
          <!-- RESERVADAS -->
          <div class="row ms-1 me-1 mb-2">
            <label class="form-label"
              ><strong>Habitaciones a reservar</strong></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Habitaciones reservadas"
              formControlName="reserva"
            />
          </div>
          <div
            class="alert alert-danger p-2 ms-1 me-1"
            *ngIf="
              formHabitacion.get('reserva')?.touched &&
              formHabitacion.get('reserva')?.errors?.required
            "
          >
            Se requiere un valor numérico
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div
            class="alert alert-danger p-2 ms-1 me-1"
            *ngIf="noExcederHabitacionesDisponibles(formHabitacion)"
          >
            Las habitaciones reservadas no pueden exceder el total de
            habitaciones disponibles
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <!-- OCUPANTES MINIMO -->
          <div class="row ms-1 me-1 mb-2">
            <label class="form-label"
              ><strong>Capacidad de habitación</strong></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Mínimo"
              formControlName="minimo"
            />
          </div>

          <div
            class="alert alert-danger p-2 ms-1 me-1"
            *ngIf="
              formHabitacion.get('minimo')?.touched &&
              formHabitacion.get('minimo')?.errors?.required
            "
          >
            Se requiere un valor numérico
          </div>
        </div>
        <div class="col-6">
          <!-- OCUPANTES MAXIMO -->
          <div class="row ms-1 me-1 mb-2">
            <label class="form-label" style="color: white"
              ><strong>Máximo</strong></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Máximo"
              formControlName="maximo"
            />
          </div>
          <div
            class="alert alert-danger p-2 ms-1 me-1"
            *ngIf="
              formHabitacion.get('maximo')?.touched &&
              formHabitacion.get('maximo')?.errors?.required
            "
          >
            Se requiere un valor numérico
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div
            class="alert alert-danger p-2 ms-1 me-1"
            *ngIf="maximoMayorAMinimo(formHabitacion)"
          >
            El valor máximo debe ser mayor o igual al valor mínimo
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="formHabitacion.invalid"
      (click)="guardarNuevaHabitacion(true)"
    >
      Guardar y cerrar
    </button>
    <button
      type="button"
      class="btn btn-success"
      [disabled]="formHabitacion.invalid"
      (click)="guardarNuevaHabitacion(false)"
    >
      Guardar y Nuevo
    </button>
  </div>
</ng-template>
