<div
  id="invitados"
  cdkDropList
  [cdkDropListData]="listaInvitadosFiltrada"
  [ngClass]="{
    'vertical-list': !isDragging,
    'vertical-list-indicator': isDragging
  }"
  (cdkDropListDropped)="drop($event)"
  (cdkDropListEntered)="dragEntered($event)"
  (cdkDropListExited)="dragExited($event)"
>
  <div
    *ngFor="let item of listaInvitadosFiltrada"
    class="vertical-box cursor-arrow"
    cdkDrag
    [appConditionalDrag]="!readOnlyMode"
    (click)="onClick(item)"
  >
    {{ item.nombre }}
  </div>
</div>
